.container {
	display: flex;
}

.calendarWrapper {
	margin-left: 8px;
}

.statusBar {
	color: #dce0e0;
}

.statusBar::before {
	content: "ー";
}

.calendarIcon {
	display: block;
}

.sunday {
	color: #e24848;
}

.saturday {
	color: #298bff;
}

.hide {
	display: none;
}
